<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% load static %}
  {% block title %}{% endblock %}

  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>
<body class= "bg-green-300 text-gray-800 font-sans">
  <div class="max-w-screen-2xl mx-auto px-2 sm:px-3 lg:px-6">
    <header class="text-center mb-2">
      <nav class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-2 px-4 pt-6 text-center sm:text-left">
        <!-- Name block -->
        <div class="w-full sm:w-auto">
          <h1 class="text-2xl sm:text-4xl font-bold">Jose Miguel de Lima</h1>
          <p class="text-base sm:text-lg font-black">QA Lead & Full Stack Developer</p>
        </div>
          <!-- Icon links -->
        <div class="flex justify-center sm:justify-end items-center gap-4 text-gray-600 text-2xl">
          <a href="mailto:delimajm@gmail.com" aria-label="Email">📧</a>
          <a href="https://www.linkedin.com/in/jose-de-lima-aa8a5a23/" target="_blank" aria-label="LinkedIn">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/linkedin.svg" alt="LinkedIn" width="20" />
          </a>
          <a href="https://github.com/yeevon" target="_blank" aria-label="GitHub">
            <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/github.svg" alt="GitHub" width="20" />
          </a>
        </div>
      </nav>
    </header>
    
    {% block content %}{% endblock %}

    <footer class="text-center text-xs text-gray-400 mt-10">
      <p>&copy; 2025 Jose Miguel de Lima. All rights reserved.</p>
    </footer>
  </div>
</body>

</html>