{% load static %}
<div x-data="{ open: false }" class="text-center">
  <div
    @click="open = true"
    class="relative bg-white justify-between text-center rounded-xl p-6 shadow-lg sm:hover:shadow-2xl sm:hover:scale-[1.05] transition duration-300 cursor-pointer"
  >
    <i class="w-5 h-5 absolute top-2 right-2 fa-solid fa-circle-info"></i>
    <div>
      <h4 class="text-lg text-blue-600 font-semibold">{{ job.title }}</h4>
      <h6 class="text-base text-black">{{ job.role }}</h6>
      <p class="text-base text-black">{{ job.dates }}</p>
    </div>
  </div>

  <div x-show="open" x-cloak class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50 p-4">
    <div class="bg-white rounded-2xl relative shadow-lg w-full max-w-lg mx-auto overflow-y-auto max-h-[90vh] p-6">
      <button @click="open = false" class="absolute top-2 right-3 text-gray-600 hover:text-black text-xl">
        &times;
      </button>
      <h4 class="lg:text-xl sm:text-base border-b font-semibold mb-2">
        {{ job.role }} at
        <a href="{{job.url}}" target="_blank" class="text-blue-600 hover:underline">{{ job.title }}</a>
      </h4>

      <p class="mb-4 text-sm text-gray-700">{{ job.summary }}</p>
      <ul class="list-disc ml-6 text-sm text-gray-700 space-y-1 text-left">
        {% for bullet in job.bullets %}
        <li>{{ bullet }}</li>
        {% endfor %}
      </ul>
      {% if job.accomplishments %}
      <h5 class="mt-3 font-semibold pb-1">Accomplishments:</h5>
      <ul class="list-disc ml-6 text-sm text-gray-700 space-y-1 text-left">
        {% for item in job.accomplishments %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
